@import "tailwindcss";

:root {
  --sienna: #b1560e;
  --sienna-2: #92633a;
  --white: #ffffff;
  --black: #171717;
  --tan: #c19f7a;
  --papaya-whip: #eae0c7;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-veneer: var(--font-veneer);
  --color-sienna: #b1560e;
  --color-sienna-2: #92633a;
  --color-white: #ffffff;
  --color-black: #171717;
  --color-tan: #c19f7a;
  --color-papaya-whip: #eae0c7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--papaya-whip); */
  color: var(--sienna);
}
